langchain==0.2.16
langchain-community==0.2.16
langchain-groq==0.1.9
langchain-huggingface==0.0.3
qdrant-client==1.11.3
python-dotenv==1.0.1
streamlit==1.38.0
requests==2.32.3
huggingface-hub==0.24.7
pytest==8.3.4